<!DOCTYPE html> 
<html> 
<head> 
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
<title>People</title> 
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript"> 
function initialize() {
  var dubai = new google.maps.LatLng(25.18507, 55.291735);
  var myOptions = {
    zoom: 14,
    center: dubai,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
 
  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
 
  var ctaLayer = new google.maps.KmlLayer('http://87.201.216.107/trackme/kml.kml');
  ctaLayer.setMap(map);
}
</script> 
<style type="text/css">
html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
#map_canvas { height: 100% }
</style>
</head> 
<body onLoad="initialize()"> 
  <div id="map_canvas"></div> 
</body> 
</html> 