{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <style type="text/css">

        a {text-decoration: none;}

        ul { list-style-type: none; }
        body{width:1200px}
        .legend{ width: 550px;float:right;padding-right: 0px;padding-bottom: 20px;height: 650px}
        .dataTable{clear:both;}
    </style>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>EPIC - Assets Tracking</title>
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static  'css/base.css' %}" />
    <style type="text/css" title="currentStyle">
        @import "{%static 'css/demo_page.css'%}";
        @import "{%static 'css/demo_table.css'%}";
    </style>
    <link type="text/css" href="{% static  'css/smoothness/jquery-ui-1.8.2.custom.css'%} rel="Stylesheet" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script   type="text/javascript" src="{%static 'js/jquery.dataTables.min.js'%}"></script>
    <script type="text/javascript">
        //<![CDATA[
        var timerDelay= 30 // Change the refresh rate here in seconds
        var secs
        var timerID = null
        var timerRunning = false
        var delay = 1000
        var map=null;
        var infoWindow = new google.maps.InfoWindow;
        var tOfPins;
        tOfPins = new Array();
        var  markersArray=[];
        var oTable;
        var customIcons = {
            old: {
                icon: '{%static 'images/blue.png'%}',
                shadow: '{%static 'images/msmarker.shadow.png'%}'
            },
            current: {
                icon: '{%static 'images/red.png'%}',
                shadow: '{%static 'images/msmarker.shadow.png'%}'
            }
        };

        function updateList()
        {
            oTable.fnClearTable();
            oTable.fnAddData(tOfPins);
        }

        function load() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: new google.maps.LatLng(24.89517, 55.071139),
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.HYBRID
            });

            pinnit( map, infoWindow);
            updateList();
            InitializeTimer();

        }
        function pinnit( map, infoWindow) {
            downloadUrl("/kml/all_items/?callback=?", function(data) {
                tOfPins= new Array();
                var xml = data.responseXML;
                var markers = xml.documentElement.getElementsByTagName("marker");
                for (var i = 0; i < markers.length; i++) {
                    var name = markers[i].getAttribute("name");
                    var address = markers[i].getAttribute("address");
                    var type = markers[i].getAttribute("type");
                    var lat = parseFloat(markers[i].getAttribute("lat"));
                    var long = parseFloat(markers[i].getAttribute("lng"));
                    var ar1 = new Array();
                    var point = new google.maps.LatLng(lat,long);
                    var icon = customIcons[type] || {};
                    var html = "<b>" + name + "</b> <br/>" + address;
                    var theDate =  markers[i].getAttribute("date");
                    var uID =  markers[i].getAttribute("mid");
                    var offset =  markers[i].getAttribute("offset");
                    var deviceType =markers[i].getAttribute("deviceType");
                    var deviceModel =markers[i].getAttribute("deviceModel");
                    var organization =markers[i].getAttribute("organization");
                    var username =markers[i].getAttribute("username");
                    ar1.push('<a href="javascript:map.setCenter(new google.maps.LatLng(' + lat + ',' + long + '));showIW(' + i + ');");><img src=' + icon.icon + '></a>');
                    id_name = "trackMe-" + uID;
                    if (name.length>1){
                        ar1.push(name + "<br>ID: " + id_name +" " + "<br>username: "+username+ "");
                    }else{
                        ar1.push("<br>ID: " + id_name+ "<br>username: "+username+ "");
                    }
                    ar1.push(organization);
                    var DateText = " " + theDate + " (" + offset +")";
                    ar1.push(DateText);
                    ar1.push(""+ deviceType + " " + deviceModel+" ")
                    ar1.push('<a target="Edit" href ="/admin/datastore/actionuser/'+ uID +'/">edit</a>');
                    // ar1.push(lat);
                    // ar1.push(long);
                    tOfPins.push(ar1);
                    var marker = new google.maps.Marker({
                        map:map,
                        position:point,
                        icon:icon.icon,
                        shadow:icon.shadow
                    });
                    marker.id = i;
                    bindInfoWindow(marker, map, infoWindow, html);
                    markersArray.push(marker);
                }
                updateList();
            });

            InitializeTimer();
        }
        function showIW(iw){

            google.maps.event.trigger(markersArray[iw], "click");

        }

        // Removes the overlays from the map, but keeps them in the array

        // Deletes all markers in the array by removing references to them
        function deleteOverlays() {
            if (markersArray) {
                for (i in markersArray) {
                    markersArray[i].setMap(null);
                }
                markersArray.length = 0;
            }
        }
        function bindInfoWindow(marker, map, infoWindow, html) {
            google.maps.event.addListener(marker, 'click', function() {
                infoWindow.setContent(html);
                infoWindow.open(map, marker);
            });
        }

        function downloadUrl(url, callback) {
            var request = window.ActiveXObject ?
                    new ActiveXObject('Microsoft.XMLHTTP') :
                    new XMLHttpRequest();

            request.open('GET', url, true);

            request.onreadystatechange = function() {
                if (request.readyState == 4) {
                    request.onreadystatechange = doNothing;
                    callback(request, request.status);
                }
            };


            request.send(null);
        }

        function doNothing() {}



        function InitializeTimer()
        {
            // Set the length of the timer, in seconds
            secs = timerDelay
            StopTheClock()
            StartTheTimer()
        }

        function StopTheClock()
        {
            if(timerRunning)
                clearTimeout(timerID)
            timerRunning = false
        }

        function StartTheTimer()
        {
            if (secs==0)
            {
                StopTheClock();
                deleteOverlays();
                pinnit( map, infoWindow);
                updateList();
            }
            else
            {
                secs = secs - 1
                timerRunning = true
                timerID = self.setTimeout("StartTheTimer()", delay)
            }
        }

        //-->
        //]]>
    </script>
</head>
<body onload="load()" >
<div><img  src="{%static 'images/epic_logo_small.jpg'%}"/> - Assets Tracking</div>
<div style="clear:both;"></div>
<div class='legend' >
    <img src="{%static 'images/mm_20_red.png'%}" /> Last 24h
    &nbsp;<img src="{%static 'images/mm_20_blue.png'%}" /> &lt;7 Days
    <table id="TheTable" width=100%>
        <thead>
        <tr>
            <th width=9%></th>
            <th width=50%>Name</th>
            <th width=40%>Date</th>
            <th>Device</th>
            <th width=0%>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td width=9%>Location</td>
            <td width=50%>Name</td>
            <td width=40%>Date</td>
            <td>DEVICE</td>
            <td width=0%>EDIT</td>
        </tr>
        </tbody>
    </table>
</div>

<div id="map" style="width: 650px; height: 600px;"></div>


<script charset="utf-8" type="text/javascript">

    $(document).ready(function() {
        oTable =  $("#TheTable").dataTable({
            "aaSorting": [[ 2, "desc" ]]
        });
    });
</script>

</body>

</html>